.screen {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.screen .previousOperand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.screen .currentOperand {
  color: white;
  font-size: 2.5rem;
}

@media screen and (max-width: 480px) {
  .screen .previousOperand {
    font-size: 0.9rem;
  }

  .screen .currentOperand {
    font-size: 1.5rem;
  }
}
